ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
ul li{
    padding: 5px;
}

.selector{
    padding: 20px;
}
.button-block{
    width: 100%;
    text-align: center;
    margin: 0px 0px 20px 0px;
}
.drawing-canvas{
    position: relative;
    width: 100%;
    height: 700px;
    background: #ccc;
}


.graph-peak{
    position: absolute;
    z-index: 10;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-weight: bold;
    border: 1px solid red;
    text-align: center;
    background: whitesmoke;
    box-shadow: 0px 0px 10px black;
}
.graph-peak:hover{
    cursor: pointer;
}
.graph-peak-delete{
    position: absolute;
    top: -17px;
    left: 16px;
    font-size: 20px;
    width: 50px;
    display: none;
    padding: 0;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    line-height: 23px;
}

.graph-peak:hover > .graph-peak-delete{
    display: block;
}
.block-of-graph-matrix{
    padding: 10px;
    width: auto;
    height: auto;
}

.baseLine{
    position: absolute;
    height: 1px;
    background: red;
}

.lineStartPoint{
    width: 1px;
    height: 1px;
    background: red;
    border-radius: 1px;
    position: absolute;
}
.block-results-inner{
    float: left;
}
.calculated-best-way-result{
    width: 100%;
    height: auto;
    padding: 20px;
}
.bot{
    width: 30px;
    height: 30px;
    background: black;
    border-radius: 50%;
    position: absolute;
    z-index: 8000;
}
.way-value-input-block{
    width: 100%;
    height: 100%;
}


.apriori-products-inner{
    position: relative;
    width: 100%;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.apriori-products-db{
    position: relative;
    width: 100%;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}


.append-product:hover{
    cursor: pointer;
}
.append-product{
    position: absolute;
    bottom: -13px;
    height: auto;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    font-size: 29px;
    padding-left: 1px;
    color: green;
    background: #ccc;
    line-height: 20px;
    width: 28px;
    padding-bottom: 7px;
    left: 50%;
    margin-left: -21px;
}

.append-transaction:hover{
    cursor: pointer;
}
.append-transaction{
    position: absolute;
    bottom: -13px;
    height: auto;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    font-size: 29px;
    padding-left: 1px;
    color: green;
    background: #ccc;
    line-height: 20px;
    width: 28px;
    padding-bottom: 7px;
    left: 50%;
    margin-left: -21px;
}

.delete-product:hover{cursor: pointer}
.delete-product{
    color: red;
}
.approve-product:hover{
    cursor: pointer;
}
.approved-product{
    font-weight: bold;
    border: 1px solid black;
    color: black;
    padding: 3px;
}
.appended-transaction-line{
    position: relative;
}

.transaction-deleter:hover{
    cursor: pointer
}
.transaction-deleter{
    height: auto;
    border: 1px solid black;
    text-align: center;
    font-size: 16px;
    color: red;
    background: #ccc;
    line-height: 20px;
    width: auto;
    padding: 0px 3px;
    font-weight: bold;
    border-radius: 5px;
}
.threshold{
    display: flex;
    margin-top: 20px;
    height: 67px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
.treshold-text{
    width: auto;
    float: left;
    margin-bottom: 0 !important;
    font-weight: bold;
}
.treshold-input{
    width: 80px;
    margin-left: 25px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 12px;
}

.confidence-input{
    width: 80px;
    margin-left: 25px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 12px;
}

.good-freq{
    color: green;
}
.bad-freq{
    color: red;
}
.inner-row{
    margin: 30px 0px;
}
